<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <div class="container mx-auto my-10 px-52">
        <!-- heading part  -->
         <div class="mb-5">
            <div class="flex items-center justify-between">
                <div class="text-xl text-gray-600 font-medium">Create Your Account</div>
                <div class="text-gray-500 text-xs">Already Member ? <span class="text-cyan-500"> <a href="">Login</a> </span> here. </div>
            </div>
         </div>
         <!-- login form part start  -->
         <div class="bg-white rounded-lg p-5">
            <div class="grid grid-cols-2 gap-x-6">
                <!-- Left side  -->
                 <div class="col-span-1 w-full">
                    <form class="">
                        <!-- Phone Number  -->
                        <div class="">
                            <label class="text-xs text-gray-500" for="">Phone Number*</label>
                        <div class="mt-2 w-full">
                            <input class="w-full pl-3 py-[6px] border placeholder:text-xs outline-none text-sm rounded-sm" type="text" placeholder="Please Enter Your Phone Number">
                        </div>
                        </div>
                        <!-- verification code  -->
                        <div class="mt-3">
                            <label class="text-xs text-gray-500" for="">Verification Code*</label>
                        <div class="mt-2 w-full  flex itec justify-between">
                            <input class="w-full pl-3 py-[6px] border placeholder:text-xs outline-none text-sm rounded-sm" type="text" placeholder="Verification Code">
                            <div class="w-12 py[5.90px] flex items-center justify-center border border-sky-500">
                                <h4 class="text-gray-400 text-xs cursor-pointer">Send</h4>
                            </div>
                        </div>
                        </div>

                         <!-- Password  -->
                         <div class="mt-3">
                            <label class="text-xs text-gray-500" for="">Password*</label>
                        <div class="mt-2 w-full">
                            <input class="w-full pl-3 py-[6px] border placeholder:line-clamp-1 placeholder:text-xs outline-none text-sm rounded-sm" type="text" placeholder="Minimum 6 character with a number and a letter ">
                        </div>
                        </div>
                        <div class="flex items-center space-x-2 w-full mt-3">
                            <!-- birthday  -->
                            <div class="w-9/12">
                                <label class="text-xs text-gray-500" for="">Birthday</label>
                            <div class="flex items-center">
                                <div class="mt-2 w-6/12">
                                    <input class="w-full pl-1 py-[6px] border placeholder:text-xs outline-none text-sm rounded-sm" type="number" placeholder="Month">
                                </div>
                                <div class="mt-2 w-3/12">
                                    <input class="w-full pl-1 py-[6px] border placeholder:text-xs outline-none text-sm rounded-sm" type="number" placeholder="Day">
                                </div>
                                <div class="mt-2 w-3/12">
                                    <input class="w-full pl-1 py-[6px] border placeholder:text-xs outline-none text-sm rounded-sm" type="number" placeholder="Year">
                                </div>
                            </div>
                            </div>
                            <div class="w-3/12">
                                <label class="text-xs text-gray-500" for="">Gender</label>
                            <div class="mt-2 w-full">
                                <input class="w-full pl-1 py-[6px] border placeholder:text-xs outline-none text-sm rounded-sm" type="number" placeholder="Select">
                            </div>
                            </div>
                        </div>
                     </form>
                 </div>
                 <!-- right side  -->
                  <div class="col-span-1 w-full pl-5">
                        <!-- Phone Number  -->
                        <div class="">
                            <label class="text-xs text-gray-500" for="">Full Name*</label>
                        <div class="mt-2 w-full">
                            <input class="w-full pl-3 py-[6px] border placeholder:text-xs outline-none text-sm rounded-sm" type="text" placeholder="Enter Your Phone First and last Name">
                        </div>
                        </div>
                        <div class="my-3 flex space-x-1 items-start ">
                            <input type="checkbox">
                            <h4 class="text-gray-400 text-xs">i'd like to recive exclusive offers and Promotion via sms</h4>
                        </div>
                        <div class="flex items-center px-3 transition-all duration-300 py-3 rounded-sm justify-center capitalize bg-[#FF7B2E] hover:bg-[#f37932] text-white text-sm">
                            sign Up
                        </div>
                        <div class="my-3">
                            <h4 class="text-gray-400 text-xs">By clicking “SIGN UP”, I agree to Daraz's <span class="text-sky-500">Terms of Use</span> and <span class="text-sky-500">Privacy Policy</span></h4>
                        </div>
                        <div class="my-3">
                            <h4 class="text-gray-400 text-xs">or Sign up with</h4>
                        </div>
                        <div class="flex items-center w-full space-x-2">
                            <div class="flex w-full items-center px-3 transition-all duration-300 py-2 rounded-sm justify-center capitalize bg-sky-700 text-white text-base">
                                Facebook
                            </div>
                            <div class="flex w-full items-center px-3 transition-all duration-300 py-2 rounded-sm justify-center capitalize bg-orange-700 text-white text-base">
                                Google
                            </div>
                        </div>
                  </div>
            </div>
         </div>
    </div>
</body>
</html>
