<div class="bg-white">
    <div class="container mx-auto my-10">
        <div class="py-5 pb-5 border-b ">
            <div class="pl-3 text-gray-800 text-2xl">
                Return Policy
            </div>
        </div>
        <div class="mt-3 pb-5">
            <!-- heading part grid  -->
            <div class="grid grid-cols-3">
                <div class="col-span-1 cursor-pointer">
                    <div class="flex justify-center capitalize items-center bg-gray-200 py-3 text-base text-gray-800">
                        How to return a porduct
                    </div>
                </div>
                <div class="col-span-1 cursor-pointer">
                    <div class="flex justify-center capitalize items-center bg-[#F68B1E] py-3 text-base text-gray-800">
                        Return Policy
                    </div>
                </div>
                <div class="col-span-1 cursor-pointer">
                    <div class="flex justify-center capitalize items-center bg-gray-200 py-3 text-base text-gray-800">
                        Refunds Policy
                    </div>
                </div>
            </div>
            <!-- Policy describe part  -->
             <div class="grid grid-cols-3">
                <!-- left part  -->
                 <div class="col-span-2">
                    <div class=" ">
                        <div class="pt-10 pl-3">
                            <div class="text-gray-800 text-xl pb-5">
                                Returns policy
                            </div>
                            <div class="flex items-start justify-start space-x-5 pr-32">
                                <div class="h-6 w-16 rounded-full text-black text-sm border-2 border-orange-400 flex items-center justify-center">1</div>
                                <div class="text-sm text-gray-500 tracking-tight">
                                    If your product is damaged, defective, incorrect or incomplete at the time of delivery, please raise a return request on Daraz app or website. <span class="text-gray-700 font-medium">Return request must be raised within 14 days for DarazMall items, or within 7 days for non-DarazMall items from the date of delivery.</span>
                                </div>
                            </div>
                            <div class="flex items-start justify-start space-x-5 pr-32 mt-5">
                                <div class="h-6 w-16 rounded-full text-black text-sm border-2 border-orange-400 flex items-center justify-center">2</div>
                                <div class="text-sm text-gray-500 tracking-tight">
                                    For electronic appliances & mobile phones related issues after usage or after the return policy period, please check if the product is covered under seller warranty or brand warranty. For more information on warranty claims, please view our <a class="text-orange-500" href="#">Warranty Policy</a>.
                                </div>
                            </div>
                            <div class="flex items-start justify-start space-x-5 pr-32 mt-5">
                                <div class="h-6 w-9 rounded-full text-black text-sm border-2 border-orange-400 flex items-center justify-center">3</div>
                                <div class="text-sm text-gray-500 tracking-tight">
                                    For selected categories, we accept a change of mind. Please refer to the section below on Return Policy per Category for more information.
                                </div>
                            </div>
                        </div>
                        <div class="pt-10 pl-3">
                            <div class="text-gray-800 text-xl pb-5">
                                Valid reasons to return an item
                            </div>
                            <div class="flex items-start justify-start space-x-5 pr-32">
                                <div class="">
                                    <h4 class="h-6 w-6 rounded-full text-black text-sm border-2 border-orange-400 flex items-center justify-center">1</h4>
                                </div>
                                <div class="text-sm text-gray-500 tracking-tight">
                                    Delivered product is damaged (i.e. physically destroyed or broken) / defective (e.g. unable to switch on)
                                </div>
                            </div>
                            <div class="flex items-start justify-start space-x-5 pr-32 mt-3">
                                <div class="h-6 w-6 rounded-full text-black text-sm border-2 border-orange-400 flex items-center justify-center">2</div>
                                <div class="text-sm text-gray-500 tracking-tight">
                                    Delivered product is incomplete (i.e. has missing items and/or accessories)
                                </div>
                            </div>
                            <div class="flex items-start justify-start space-x-5 pr-32 mt-3">
                                <div class="h-6 w-6 rounded-full text-black text-sm border-2 border-orange-400 flex items-center justify-center">3</div>
                                <div class="text-sm text-gray-500 tracking-tight">
                                    Delivered product is incorrect (i.e. wrong product/size/colour, fake item, or expired)
                                </div>
                            </div>
                            <div class="flex items-start justify-start space-x-5 pr-32 mt-3">
                                <div class="h-6 w-6 rounded-full text-black text-sm border-2 border-orange-400 flex items-center justify-center">4</div>
                                <div class="text-sm text-gray-500 tracking-tight">
                                    Delivered product is does not match product description or picture .
                                </div>
                            </div>
                            <div class="flex items-start justify-start space-x-5 pr-32 mt-3">
                                <div class="h-6 w-6 rounded-full text-black text-sm border-2 border-orange-400 flex items-center justify-center">5</div>
                                <div class="text-sm text-gray-500 tracking-tight">
                                    Delivered product does not fit.
                                </div>
                            </div>
                            
                        </div>
                        <div class="mt-8 pr-32">
                            <h3 class="text-gray-800 text-xl">Return Policy Per Category</h3>
                            <h4 class="text-sm text-gray-600 py-3">
                                Please note that certain items marked as non-returnable on product page are not eligible for return. <br>
                                for more information view the complete list of <span class="text-orange-500">non-returnable items</span>
                            </h4>
                            <!-- items  -->
                            <div class="capitalize">
                                <div class="border px-2 py-2 w-full flex items-center justify-between">
                                    <h4 class="text-gray-500 text-sm">
                                        phones and tablets
                                    </h4>
                                    <h4 class="text-orange-500 text-2xl font-medium">+</h4>
                                </div>
                                <div class="border px-2 py-2 w-full flex items-center justify-between">
                                    <h4 class="text-gray-500 text-sm">
                                        Fashion
                                    </h4>
                                    <h4 class="text-orange-500 text-2xl font-medium">+</h4>
                                </div>
                                <div class="border px-2 py-2 w-full flex items-center justify-between">
                                    <h4 class="text-gray-500 text-sm">
                                        Beauty and health
                                    </h4>
                                    <h4 class="text-orange-500 text-2xl font-medium">+</h4>
                                </div>
                                <div class="border px-2 py-2 w-full flex items-center justify-between">
                                    <h4 class="text-gray-500 text-sm">
                                        appliances
                                    </h4>
                                    <h4 class="text-orange-500 text-2xl font-medium">+</h4>
                                </div>
                                <div class="border px-2 py-2 w-full flex items-center justify-between">
                                    <h4 class="text-gray-500 text-sm">
                                        Computer and gaming
                                    </h4>
                                    <h4 class="text-orange-500 text-2xl font-medium">+</h4>
                                </div>
                                <div class="border px-2 py-2 w-full flex items-center justify-between">
                                    <h4 class="text-gray-500 text-sm">
                                        TV;s audios and camera's
                                    </h4>
                                    <h4 class="text-orange-500 text-2xl font-medium">+</h4>
                                </div>
                                <div class="border px-2 py-2 w-full flex items-center justify-between">
                                    <h4 class="text-gray-500 text-sm">
                                        baby;s toy's and kid's
                                    </h4>
                                    <h4 class="text-orange-500 text-2xl font-medium">+</h4>
                                </div>
                                <div class="border px-2 py-2 w-full flex items-center justify-between">
                                    <h4 class="text-gray-500 text-sm">
                                        Grocer's Shop's
                                    </h4>
                                    <h4 class="text-orange-500 text-2xl font-medium">+</h4>
                                </div>
                                <div class="border px-2 py-2 w-full flex items-center justify-between">
                                    <h4 class="text-gray-500 text-sm">
                                        Digital Good's
                                    </h4>
                                    <h4 class="text-orange-500 text-2xl font-medium">+</h4>
                                </div>
                                <div class="border px-2 py-2 w-full flex items-center justify-between">
                                    <h4 class="text-gray-500 text-sm">
                                        any three bundle
                                    </h4>
                                    <h4 class="text-orange-500 text-2xl font-medium">+</h4>
                                </div>
                                <div class="border px-2 py-2 w-full flex items-center justify-between">
                                    <h4 class="text-gray-500 text-sm">
                                        Other categories
                                    </h4>
                                    <h4 class="text-orange-500 text-2xl font-medium">+</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                 </div>
                 <!-- riht part  -->
                  <div class="col-span-1">
                    <div class="mt-10 px-2 py-3 rounded-lg border">
                        <h4 class="text-gray-800 text-base text-center font-semibold">Condition for Returns</h4>
                        <div class="pt-5 px-2 capitalize text-gray-700 text-[13px]">
                            <div class="flex items-start justify-start">
                                1.
                            <h4 class="">
                                text must be unused,unknown,unwashed and wihtout any flaws.For Fashion products, products nust be tried on to see if the item fits.this will still be considered as unknown.
                            </h4>
                            </div>
                        </div>
                        <div class="pt-3 px-2 capitalize text-gray-700 text-[13px]">
                            <div class="flex items-start justify-start">
                                1.
                            <h4 class="">
                                text must be unused,unknown,unwashed and wihtout any flaws.For Fashion products, products nust be tried on to see if the item fits.this will still be considered as unknown.
                            </h4>
                            </div>
                        </div>
                        <div class="pt-5 px-2 capitalize text-gray-700 text-[13px]">
                            <div class="flex items-start justify-start">
                                1.
                            <h4 class="">
                                text must be unused,unknown,unwashed and wihtout any flaws.For Fashion products, products nust be tried on to see if the item fits.this will still be considered as unknown.
                            </h4>
                            </div>
                        </div>
                        <!-- Note  -->
                        <div class="pt-5 px-2 capitalize text-gray-700 text-[13px]">
                            <div class="flex items-start justify-start">
                            <h4 class="pl-2">
                                <span class="text-gray-800 font-semibold">NOTE</span> 
                                it is important to indicate the order number and return tracking number on your return package to avoid any delay in your return process.
                                it is important to indicate the order number and return tracking number on your return package to avoid any delay in your return process.
                            </h4>
                            </div>
                        </div>
                        <input type="checkbox" class="accent-emerald-500/25">
                        <div class="grid">
                            <select class="appearance-auto pl-3 py-3 w-max bg-slate-800 dark:bg-slate-600 text-white rounded-md">
                              <option class="p-1">Yes</option>
                              <option class="p-1">No</option>
                              <option class="p-1">Maybe</option>
                            </select>
                            <svg class="pointer-events-none row-start-1 col-start-1 pr-3">
                              <!-- ... -->
                            </svg>
                          </div>

                          <ul class="list-inside list-decimal">
                            <li>5 cups chopped Porcini mushrooms</li>
                            <li>5 cups chopped Porcini mushrooms</li>
                            <li>5 cups chopped Porcini mushrooms</li>
                            <li>5 cups chopped Porcini mushrooms</li>
                            <li>5 cups chopped Porcini mushrooms</li>
                            <!-- ... -->
                          </ul>
                          <ol class="list-decimal list-inside">
                            <li>Now this is a story all about how, my life got flipped-turned upside down</li>
                            <!-- ... -->
                          </ol>
                    </div>
                  </div>
             </div>
        </div>
    </div>
</div>
