<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller create account</title>
</head>
<body>
    <div class="w-full h-[600px] my-10 bg-[#FE5418] p-10">
        <!-- grid part  -->
         <div class="grid grid-cols-2 gap-x-5 h-full">
            <div class="col-span-1 px-10 flex flex-col items-start justify-start">
                <h2 class="text-4xl font-extrabold text-white leading-normal">
                    Sign up as a seller and <span class="text-[#FFD622]">Win!</span>
                </h2>
                <h4 class="text-base text-white font-medium">
                    Enter our competition tand you could win US$5,000 cash, and US$5,000hipping & marketing credits.
                </h4>
            </div>
            <!-- right part  -->
            <div class="col-span-1 flex items-center justify-center ml-10">
                <div class="mr-10 w-full p-8 rounded-3xl bg-white">
                <div class="mb-8">
                    <div class="text-xl text-gray-600 font-medium ">Sign up at Daraz</div>
                <h4 class="text-xs text-gray-500">Sign up at 2 steps</h4>
                </div>
                    <form action="">
                        <!-- Phone Number  or email-->   
                        <div class="mt-3">
                            
                        <div class="mt-2 w-full px-3 flex items-center justify-between border rounded-lg">
                            <input class="w-full py-2 border-r mr-3 placeholder:text-base outline-none text-sm" type="text" placeholder="9XXXX">
                            <div class="w-12 py-[6px] flex items-center justify-center">
                                <h4 class="text-gray-400 text-base cursor-pointer">+880</h4>
                            </div>
                        </div>
                        </div>


                        <div class="flex items-center mt-7 px-3 cursor-pointer transition-all duration-300 py-2 rounded-lg justify-center capitalize bg-[#f37932] hover:bg-[#FF7B2E] text-white text-base">
                            Login
                        </div>
                    </form>
                    <div class="grid grid-cols-2 mt-8">
                        <div class="col-span-1">
                        </div>
                        <div class="col-span-1 flex flex-col justify-end items-end text-right space-y-1">
                            
                            <a href="#">
                                <h4 class="text-[#2A7BFF] text-sm">Login</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</body>
</html>

