


<div class="container mx-auto mt-20">
    <div class="flex items-center justify-between my-5">
        <h4 class="text-gray-800 text-sm">
            Employee
        </h4>
        <div class="px-10 py-2 rounded-md text-xl text-white cursor-pointer bg-cyan-600" (click)="openList()">
            Add Employee
        </div>
    </div>

    <!-- employee list  -->

    @for( item of employeCard; track item; let i = $index){

        <div class="flex items-start">
            <div class="p-2 rounded-xl border bg-white w-96 shadow-lg flex flex-col gap-y-2">
                <h4 class="text-gray-600 text-sm">{{item.name}}</h4>
                <h4 class="text-gray-600 text-sm">{{item.phone}}</h4>
                <h4 class="text-gray-600 text-sm">{{item.email}}</h4>
                <h4 class="text-gray-600 text-sm">{{item.address}}</h4>
            </div>
        </div>
    }
</div>

@if(open == false){

    <div class="model flex items-center justify-center" id="myModel" #myModel >
    
        <form [formGroup]="employeFrom" (ngSubmit)="onSubmit()">
            <div class="p-2 rounded-lg border w-[600px]">
        
                                         <!-- left side  -->
                                         <div class="w-[600[x]]">
                                            <div class="mb-4 w-full">
                                                    <!-- full name  -->
                                            <label class="block text-gray-700 font-bold mb-2" for="name">Full Name</label>
                                            <input class="w-full px-3 py-2 border border-gray-300 rounded-md" required formControlName="name" id="name" type="text" placeholder="Enter Full name" />
                                            </div>
                            
                                            <!-- phone number  -->
                                            <div class="mb-4 w-full">
                                                <label class="block text-gray-700 font-bold mb-2" for="phone">Phone Number</label>
                                                <input class="w-full px-3 py-2 border border-gray-300 rounded-md" id="phoneNumber" type="text" placeholder="Your Phone Number" formControlName="phone" />
                                            </div>
                            
                                            
                                             <!-- email number  -->
                                             <div class="mb-4 w-full">
                                                <label class="block text-gray-700 font-bold mb-2" for="email">Email</label>
                                                <input class="w-full px-3 py-2 border border-gray-300 rounded-md" id="email" type="email" placeholder="Your Email ID" formControlName="email" />
                                            </div>
                                                 <!-- region  -->
                                                 <div class="mb-4 w-full">
                                                    <label class="block text-gray-700 font-bold mb-2" for="city">Province/Region</label>
                                                    <input class="w-full px-3 py-2 border border-gray-300 rounded-md" required formControlName="region" id="region" type="text" placeholder="Your Region" />
                                                </div>
                            
                                                <!-- city  -->
                                                <div class="mb-4 w-full">
                                                    <label class="block text-gray-700 font-bold mb-2" for="city">City</label>
                                                    <input class="w-full px-3 py-2 border border-gray-300 rounded-md" required formControlName="city" id="city" type="text" placeholder="Your city" />
                                                </div>
                                                <!-- Adress here  -->
                                                <div class="mb-4 w-full">
                                                    <label class="block text-gray-700 font-bold mb-2" for="address">Address</label>
                                                    <input class="w-full px-3 py-2 border border-gray-300 rounded-md" id="address" type="text" placeholder="Your address" required formControlName="address"/>
                                                </div>
                                            </div>
                                         <!-- left side end  -->
        
                                            <div class="pt-5 flex items-center w-full justify-between space-x-2">
               
                                               <!-- Close form  -->
                                                <div class="mb-4 w-full">
                                                    <h4 class="cursor-pointer flex items-center justify-center w-full bg-gray-200 text-gray-600 font-normal py-2 px-4 rounded-md hover:bg-gray-300" (click)="colseList()" >Cancel</h4>
                                                </div>
                                                <!-- save form  -->
                                                 <div class="mb-4 w-full">
                                                    <button type="submit" class="w-full bg-orange-500 text-white font-normal py-2 px-4 rounded-md hover:bg-orange-600" >Save</button>
                                                </div>
                                            </div>
            </div>
        </form>
    </div>
}

<!-- <div class="flex items-center justify-center  h-screen w-screen">
    <div class="w-96 border rounded  h-32 bg-green-500">
        <h4 class="text-xl text-red-500">Bangladesh</h4>
    </div>
</div> -->

<!-- Rendering component practice  -->

<div class="p-8 bg-gray-50 shadow-lg rounded-md max-w-2xl mx-auto">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">
      This is the Parent Component
    </h2>
    
    <!-- Pass content to the child component -->
        
        <app-new-item [names1]="'Awesome product'" > 

      <div cardItem class="">
        <h1 card-title>Card Title</h1>
        <p card-body>This is the card body content.</p>
        <span card-footer>Footer text here</span>
      </div>


      <div  class="cardItem text-2xl font-bold">
      </div>
    </app-new-item>
  </div>

  <!-- for ng-template practice  -->

  <div class="p-6 bg-gray-50 rounded-lg shadow-md">
  <h2 class="text-xl font-bold mb-4">Template Fragment Example</h2>

  <!-- Buttons to control the display of the template -->
  <button class="bg-blue-500 text-white py-2 px-4 rounded mr-2" (click)="displayTemplate()">
    Show Template Fragment
  </button>
  <button class="bg-red-500 text-white py-2 px-4 rounded" (click)="clearTemplate()">
    Clear Template
  </button>

  <!-- Template fragment defined -->
  <ng-template #myTemplate>
    <div class="p-4 bg-blue-100 border border-blue-300 rounded-lg">
      <h3 class="text-xl font-bold">This is a Template Fragment</h3>
      <p class="text-gray-600">This content can be dynamically rendered.</p>
    </div>
  </ng-template>

   <!-- Pass the template to the child component -->
   <!-- <app-new-item [template]="myTemplate"></app-new-item> -->
</div>

<div class="">
  <h1>Counter: {{ initialCount }}</h1>
  <!-- <app-new-item [(count)]="initialCount"></app-new-item> -->
</div>

  <!-- sloting child  -->

  <!-- ng container  -->

  <div class="py-10">
    <h2>Your profile</h2>    
    <!-- <ng-container [ngTemplateOutlet]="profileTemplate()" /> -->

    <ng-template #admin>This is the admin profile</ng-template>   
    <ng-template #basic>This is the basic profile</ng-template>
  </div>



  