<!DOCTYPE html>
<html lang="en" class="&#64;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage My Accounts</title>
</head>
<body class="bg-neutral-100">
    <div class="container mx-auto  my-10">
        <div class="grid grid-cols-6  w-full">
            <!-- left side start  -->
            <div class="col-span-1  px-3">
                <div class="pb-3">
                    <h3 class="text-xs text-gray-500 font-sans font-normal capitalize"> hello,Md.Rabiul Islam</h3>
                    <button class="flex items-center text-[10px] font-sans font-semibold capitalize px-2 py-[5px] rounded-full bg-[#4DB34A] text-white mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="size-3 mr-1"  viewBox="0,0,256,256">
                            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M20.29297,5.29297l-11.29297,11.29297l-4.29297,-4.29297l-1.41406,1.41406l5.70703,5.70703l12.70703,-12.70703z"></path></g></g>
                            </svg>
                          
                        verified account
                    </button>
                </div>
                <div class=" ">
                    <h3 class="text-base font-medium text-cyan-600 capitalize">Mange my account</h3>
                    
                        <div class="pl-4 flex flex-col space-y-2 mt-3 text-gray-500 font-medium text-xs capitalize">
                                <div class="">My Profile</div>
                                <div class="">Address book</div>
                                <div class=" ">My Payment option</div>
                                <div class=" ">Daraz wallet</div>
                                <div class=" ">Vouchers</div>
                        </div>
                    
                </div>
                <div class="my-3">
                    <h3 class="text-base font-medium text-[#434446]">My Orders</h3>
                    <div class="pl-4 flex flex-col space-y-2 mt-1 text-xs text-gray-500 font-medium">
                        <div>My Returns</div>
                        <div>My Cancelletaion</div>
                </div>                
                </div>
    
                <div class="">
                    <h4 class="text-base font-medium text-[#434446]  capitalize cursor-pointer">My Reviews</h4>
                </div>
                <div class="mt-3">
                    <h4 class="text-base font-medium text-[#434446] capitalize cursor-pointer">My Wishlist <br>& followed store </h4>
                </div>
                <div class="mt-3">
                    <h4 class="text-base font-medium text-[#434446]  capitalize cursor-pointer">Sell on daraz</h4>
                </div>
            </div>
            <!-- left side end  -->
             <!-- rigth side start  -->
              <div class="col-span-5 px-3 w-full pl-3">
                <div class="mb-5">
                    <div class="flex items-center justify-between">
                        <h2 class="text-xl text-[#434446]  mb-3">My Profiles</h2>
                    </div>
                    <!-- grid part  -->
                    <div class=" ">
                        <div class="grid grid-cols-3 gap-x-3">
                            <div class="col-span-1 h-[180px] p-3 bg-white">
                                <div class="">
                                    <h4 class="text-gray-800 text-base capitalize">
                                        Personal profile <span class="text-gray-400 px-1">|</span> <span class="text-sky-600 text-[11px]">Edit</span>
                                    </h4>
                                </div>
                                <div class="mt-3">
                                    <h4 class="text-gray-700 text-[13px] font-normal capitalize">Md.Rabiul Islam</h4>
                                    <h4 class="mt-1 text-gray-700 text-[13px] font-normal capitalize">shaikot506gmail.com </h4>
                                    <h4 class="mt-3 text-sky-600 text-[13px] font-normal capitalize"> Unsubscribe from our Newsletter</h4>
                                </div>
                            </div>
                            <div class="col-span-2 grid grid-cols-2 h-[180px] p-3 bg-white">
                                <div class="col-spna-1 border-r pr-2">
                                    <div class="">
                                        <h4 class="text-gray-800 text-base capitalize">
                                            Address Book <span class="text-gray-400 px-1">|</span> <span class="text-sky-600 text-[11px]">Edit</span>
                                        </h4>
                                    </div>
                                    <div class="mt-3">
                                        <h4 class="text-gray-700 text-xs capitalize">Defalut Delivery Address </h4>
                                        <h4 class="mt-1 text-gray-700 text-[13px] font-medium capitalize">Md.Rabiul Islam</h4>
                                        <h4 class="mt-1 text-gray-700  text-[11px] font-normal capitalize"> Counsilor market 2,Banarupa Road, Gazipur Chowrasta
                                            Dhaka - Gazipur - Bahawal College Chowrasta
                                            (+880) 1618480064</h4>
                                    </div>
                                </div>
                                <div class="col-spna-1 px-3">
                                    <div class="">
                                        <!-- <h4 class="text-white">.</h4> -->
                                    </div>
                                    <div class="mt-10">
                                        <h4 class="text-gray-700 text-xs capitalize">Defalut Delivery Address </h4>
                                        <h4 class="mt-1 text-gray-700 text-[13px] font-medium capitalize">Md.Rabiul Islam</h4>
                                        <h4 class="mt-1 text-gray-700  text-[11px] font-normal capitalize"> Counsilor market 2,Banarupa Road, Gazipur Chowrasta
                                            Dhaka - Gazipur - Bahawal College Chowrasta
                                            (+880) 1618480064</h4>
                                    </div>
                                </div>
                                <!-- billing address  -->
                            </div>
                        </div>
                    </div>
                    <!-- Recent Orders  -->
                        <div class="mt-5">
                            <div class="bg-white pb-5">
                                <div class="py-3 pl-5">
                                    <h4 class="text-gray-800 text-base text-left">Recent Orders</h4>
                                </div>
                            <table class="table-auto w-full">
                                <thead class="text-gray-500 bg-slate-200 border w-full">
                                    <th class="w-36 font-normal pl-5 text-sm py-4 text-left">#Order</th>
                                    <th class="w-44 font-normal text-sm py-4 text-left">Placed on items</th>
                                    <th class="w-80 font-normal text-sm py-4 text-left">Items</th>
                                    <th class="font-normal text-sm py-4 text-left">Total</th>
                                    <th class="font-normal text-sm py-4 text-left"></th>
                                </thead>
                                <tbody class="">
                                    <!-- one  -->
                                    <tr class="border-y w-full">
                                        <td class="py-4 pl-5 text-xs text-gray-700 w-44 text-left">655952189240697</td>
                                        <td class="py-4 text-xs text-gray-700 w-44 text-left">24/2/2024</td>
                                        <td class="py-4 text-xs text-gray-700 w-44 text-left">
                                            <div class="flex items-center justify-start space-x-1">
                                                <img class="w-8 h-8" src="assets/images/n1.png" alt="">
                                                <img class="w-8 h-8" src="assets/images/n1.png" alt="">
                                            </div>
                                        </td>
                                        <td class="py-4 text-xs text-gray-700 w-32 text-left">৳ 380</td>
                                        <td class="py-4 text-sm uppercase cursor-pointer text-sky-600 w-max text-left">Manage</td>

                                    </tr>
                                    <!-- two  -->
                                    <tr class="border-y">
                                        <td class="py-4 pl-5 text-xs text-gray-700 w-44 text-left">655952189240697</td>
                                        <td class="py-4 text-xs text-gray-700 w-44 text-left">24/2/2024</td>
                                        <td class="py-4 text-xs text-gray-700 w-44 text-left">
                                            <div class="flex items-center justify-start space-x-1">
                                                <img class="w-8 h-8" src="assets/images/n1.png" alt="">
                                                <img class="w-8 h-8" src="assets/images/n1.png" alt="">
                                            </div>
                                        </td>
                                        <td class="py-4 text-xs text-gray-700 w-32 text-left">৳ 380</td>
                                        <td class="py-4 text-sm uppercase cursor-pointer text-sky-600 w-max text-left">Manage</td>

                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                </div>
              </div>
             <!-- rigth side end  -->
    
        </div>
    </div>
</body>
</html>