<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <div class="container mx-auto my-10 px-52">
       
         <!-- login form part start  -->
         <div class="bg-white rounded-lg p-5">

                <form class="" [formGroup]="regForm" (ngSubmit)="onSubmit()">

                        <!-- heading part  -->
                        <div class="mb-5">
                            <div class="flex items-center justify-between">
                                <div class="text-xl text-gray-600 font-medium">Welcome to Daraz! Please <strong>Register</strong>.</div>
                            </div>
                        </div>
                    <div class="grid grid-cols-2 gap-x-6">
                    <!-- Left side  -->
                            <div class="col-span-1 w-full">
                            <!-- Phone Number  -->
                            <div class="w-full">
                                <label class="text-xs text-gray-500" for="">Phone Number*</label>
                                <input class="w-full mt-2 pl-3 py-[6px] border placeholder:text-xs outline-none text-sm rounded-sm" maxlength="11" 
                                formControlName="phone" type="text" placeholder="Please Enter Your Phone Number">
                            </div>

                            <!-- User Name  -->
                            <div class="w-full mt-1">
                                <label class="text-xs text-gray-500" for="">User Name*</label>
                                <input class="w-full mt-2 pl-3 py-[6px] border placeholder:text-xs outline-none text-sm rounded-sm" maxlength="15" 
                                formControlName="user" type="text" placeholder="Please Enter Your User Name">
                            </div>
                            
    
                             <!-- Password  -->
                             <div class="w-full mt-1">
                                <label class="text-xs text-gray-500" for="">Password*</label>
                                <input class="w-full mt-2 pl-3 py-[6px] border placeholder:line-clamp-1 placeholder:text-xs outline-none text-sm rounded-sm"
                                 type="text" minlength="6" formControlName="password" placeholder="Minimum 6 character with a number and a letter ">
                            </div>

                        </div>
                           
                            <div class="col-span-1 w-full pl-5">
                                <div class="mt-8"></div>
                                  <button type="submit"class="flex w-full items-center px-3 cursor-pointer transition-all 
                                  duration-300 py-3 rounded-sm justify-center capitalize bg-[#FF7B2E] hover:bg-[#f37932] text-white text-sm" 
                                  [disabled]="regForm.invalid">
                                      Register
                                  </button>
                                  <div class="my-3">
                                      <h4 class="text-gray-400 text-xs">or Login with</h4>
                                  </div>
                                  <div class="flex flex-col items-center w-full space-y-3">
                                      <button type="button" id="fb123" class="flex w-full items-center cursor-pointer px-3 transition-all duration-300 
                                      py-2 rounded-sm justify-center capitalize bg-sky-700 text-white text-base">
                                          Facebook
                                      </button>
                                      <div class="flex w-full items-center cursor-pointer px-3 transition-all duration-300 py-2 rounded-sm justify-center 
                                      capitalize bg-orange-700 text-white text-base">
                                          Google
                                      </div>
                                  </div>

                                  <div class="flex items-center justify-between mt-5">
                                    <div class="text-gray-500 text-xs cursor-pointer">Allready a  Member ? <span class="text-cyan-500" 
                                        (click)="navigateToLogin()"> <a >Log IN</a> </span> here. </div>
                                </div>
                                </div>
                            </div>
                        <!-- right side  -->
    
                    </form>
         </div>
    </div>
</body>
</html>


