<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>
</head>
<body>
    <div class="container mx-auto  my-10">
        <div class="grid grid-cols-6  w-full">
            <!-- left side start  -->
            <div class="col-span-1 pt-5 px-3">
                <div class="pb-3">
                    <h3 class="text-xs text-gray-500 font-sans font-medium capitalize"> hello,Md.Rabiul Islam</h3>
                    <button class="flex items-center text-[10px] font-sans font-semibold capitalize px-2 py-[5px] rounded-full bg-[#4DB34A] text-white mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="size-3 mr-1"  viewBox="0,0,256,256">
                            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M20.29297,5.29297l-11.29297,11.29297l-4.29297,-4.29297l-1.41406,1.41406l5.70703,5.70703l12.70703,-12.70703z"></path></g></g>
                            </svg>
                          
                        verified account
                    </button>
                </div>
                <div class=" ">
                    <h3 class="text-base font-semibold text-[#434446] capitalize">Mange my account</h3>
                    
                        <div class="pl-4 flex flex-col space-y-2 mt-3 text-gray-500 font-medium text-xs capitalize">
                                <div class=" ">My Profile</div>
                                <div class=" ">Address book</div>
                                <div class=" ">My Payment option</div>
                                <div class=" ">Daraz wallet</div>
                                <div class=" ">Vouchers</div>
                        </div>
                    
                </div>
                <div class="my-3">
                    <h3 class="text-base font-semibold text-[#129AB9]">My Orders</h3>
                    <div class="pl-4 flex flex-col space-y-2 mt-1 text-xs text-gray-500 font-medium">
                        <div>My Returns</div>
                        <div>My Cancelletaion</div>
                </div>                
                </div>
    
                <div class="">
                    <h3 class="text-base font-semibold text-[#434446]  capitalize">My Reviews</h3>
                </div>
                <div class="mt-3">
                    <h3 class="text-base font-semibold text-[#434446] leading-tight capitalize">My Wishlist & followed store </h3>
                </div>
                <div class="mt-3">
                    <h3 class="text-base font-semibold text-[#434446]  capitalize">Sell on daraz</h3>
                </div>
            </div>
            <!-- left side end  -->
             <!-- rigth side start  -->
              <div class="col-span-5 pt-5 px-3  w-full pl-3">
                <div class="mb-5">
                    <h2 class="text-xl font-medium text-gray-950 mb-3">My Orders</h2>
                    <ul class="flex flex-row justify-start w-full text-[12px] capitalize text-[#68696D] font-bold mb-4 border-b-[2px] border-b-[#848588] pb-[3px]">
                        
                            <li class=" "><a class="relative w-full px-5  after:content-[' '] after:absolute hover:after:bg-[#00293F] after:transition-all after:h-1 after:w-full after:left-0 after:-bottom-[6px] hover:after:w-full" href="#">All</a></li>
                            <li class=" "><a class="relative w-full px-5  after:content-[' '] after:absolute hover:after:bg-[#00293F] after:transition-all after:h-1 after:w-full after:left-0 after:-bottom-[6px] hover:after:w-full" href="#">To pay</a></li>
                            <li class=" "><a class="relative w-full px-5  after:content-[' '] after:absolute hover:after:bg-[#00293F] after:transition-all after:h-1 after:w-full after:left-0 after:-bottom-[6px] hover:after:w-full" href="#">to ship</a></li>
                            <li class=" "><a class="relative w-full px-5  after:content-[' '] after:absolute hover:after:bg-[#00293F] after:transition-all after:h-1 after:w-full after:left-0 after:-bottom-[6px] hover:after:w-full" href="#">to receive</a></li>
                    </ul>
                </div>
                <div class="py-5 bg-white w-full pl-3">
                    <div class="flex flex-row items-center justify-start">
                        <h3 class="text-[#4C4C4C] text-base font-semibold">Show:</h3>
                        <div class="flex justify-between items-center px-2 py-2 border border-gray-300 ml-2 w-44">
                            <h4 class="text-[#4C4C4C] font-semibold text-sm">Last 5 Orders</h4>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                              </svg>
                              
                        </div>
                    </div>
                </div>
                
                <!-- order part  -->
                <div class="">
                    <div class="bg-white mt-5 py-3 px-3 border-b border-[#EEEEEE] flex flex-row justify-between">
                        <div class="">
                            <h4 class="text-[#4C4C4C] font-semibold">Order <span class="text-[#3AABBC] ml-2">#585878898417</span></h4>
                            <h4 class="text-gray-400 font-medium text-xs leading-tight tracking-tight">Placed on 7 feb 2024 13:42:12</h4>
                        </div>
                        <div class="">
                            <h4 class="text-[#3AABBC] leading-tight ">MANAGE</h4>
                        </div>
                    </div>
            
                    <div class="bg-white pt-6 px-3">
                        <div class="grid grid-cols-4">
                            <div class="col-span-2">
                                <div class="flex flex-row justify-start-items-start pb-5">
                                    <img class="w-16 border border-gray-300" src="assets/images/p1.jpg" alt="">

                                    <h4 class="text-[#4C4C4C] text-xs font-semibold capitalize ml-3 line-clamp-1">
                                        {{tittle}}
                                    </h4>
                                </div>
                            </div>
    
                            <div class="col-span-1">
                                <div class="text-center flex flex-row justify-between h-max items-center px-2">
    
                                    <h4 class="text-gray-800 font-semibold text-[13px]">qty: {{qty}}</h4>
                                    <div class="flex items-center justify-start">
                                        <h4 class="text-gray-800 text-[13px] mr-1 font-semibold" id="status">status: <span class="text-[#2B2C2E] bg-[#d0d6f1] rounded-full w-min h-min px-3 py-[2px] text-[10px] capitalize font-semibold" >{{status}}</span></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- button part start  -->
                            <div class="col-span-1">
                                <div class="text-center flex flex-row justify-center space-x-5 h-max items-center" >
                                    <button class="disabled: text-green-500 disabled:bg-gray-100 border rounded px-3 py-[2px] text-[10px] capitalize font-semibold" (click)="changeToProcessing()" [disabled] = "statusCondition == false">Request</button>    
                                    <button class="disabled: text-red-500 disabled:bg-gray-100 border rounded px-3 py-[2px] text-[10px] capitalize font-semibold" (click)="changeToCancel()" [disabled] = "statusCondition == false">Cancel</button>    
                            </div>
                            </div>
                            <!-- button part end  -->

                        </div>
                    </div>   
                    
                </div>


              </div>
             <!-- rigth side end  -->
              
        </div>

        
    </div>
</body>
</html>
