<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>
<body>
    <div class="container mx-auto my-10">
        <div class="flex items-center justify-between pb-3">
            <div class="p-3 bg-orange-600 rounded-lg flex items-center justify-center w-max">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776" />
                </svg>
            </div>
            <h4 class="text-red-500 text-lg pr-5 cursor-pointer">FAQ</h4>
        </div>
        <div class="px-5 py-5 bg-white rounded-lg">
            <div class="grid grid-cols-7 gap-x-5">
                <div class="col-span-2 w-full">
                    <div class="text-gray-600 text-base text-left">Categories</div>
                    <div class="my-3">
                        <div class="pl-3 py-[2px] bg-red-100 pr-2 text-red-500 flex items-center justify-between">
                            <h4 class="text-[14px]">Promotions</h4>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                              </svg>
                              
                        </div>
                    </div>

                    <div class="my-3">
                        <div class="pl-3 py-[2px] hover:bg-red-100 pr-2 text-gray-600 hover:text-red-500 flex items-center justify-between">
                            <h4 class="text-[14px]">Account Management</h4>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                              </svg>
                              
                        </div>
                    </div>

                    <div class="my-3">
                        <div class="pl-3 py-[2px] hover:bg-red-100 pr-2 text-gray-600 hover:text-red-500 flex items-center justify-between">
                            <h4 class="text-[14px]">Orders</h4>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                              </svg>
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="pl-3 py-[2px] hover:bg-red-100 pr-2 text-gray-600 hover:text-red-500 flex items-center justify-between">
                            <h4 class="text-[14px]">Payments</h4>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                              </svg>
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="pl-3 py-[2px] hover:bg-red-100 pr-2 text-gray-600 hover:text-red-500 flex items-center justify-between">
                            <h4 class="text-[14px]">Daraz Categories</h4>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                              </svg>
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="pl-3 py-[2px] hover:bg-red-100 pr-2 text-gray-600 hover:text-red-500 flex items-center justify-between">
                            <h4 class="text-[14px]">Returns and refund</h4>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                              </svg>
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="pl-3 py-[2px] hover:bg-red-100 pr-2 text-gray-600 hover:text-red-500 flex items-center justify-between">
                            <h4 class="text-[14px]">Shipping and delivery</h4>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                              </svg>
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="pl-3 py-[2px] hover:bg-red-100 pr-2 text-gray-600 hover:text-red-500 flex items-center justify-between">
                            <h4 class="text-[14px]">Sell on Daraz</h4>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                              </svg>
                        </div>
                    </div>
                </div>
                <div class="col-span-5 w-full">
                    <div class="mt-2 mb-5">
                        <h4 class="text-gray-700 text-base">Promotions</h4>
                        <div class="mt-8">
                            <div class="flex items-center space-x-3">
                                <div class="p-2 capitalize text-gray-600 border rounded text-[13px] bg-gray-50">
                                    Buy more,Save more
                                </div>
                                <div class="p-2 capitalize text-gray-600 border rounded text-[13px] bg-gray-50">
                                    Campaign
                                </div>
                                <div class="p-2 capitalize text-gray-600 border rounded text-[13px] bg-gray-50">
                                    any three bundle
                                </div>
                                <div class="p-2 capitalize text-gray-600 border rounded text-[13px] bg-gray-50">
                                    voucher's information
                                </div>
                                <div class="p-2 capitalize text-gray-600 border rounded text-[13px] bg-gray-50">
                                    Best Price Guaranteed
                                </div>
                            </div>
                        </div>

                        <!-- q and ans  -->
                         <div class="mt-10">
                            <div class="mb-4">
                                <h4 class="text-gray-800 text-lg hover:text-red-500">
                                    What is Best Price Guaranteed and how do I check if my purchase is eligible?
                                </h4>
                                <div class="mt-4 text-[13px] text-gray-600 line-clamp-2">
                                    Best Price Guaranteed is Daraz's promise to customers that our prices are lower or equal to applicable online retailers in Bangladesh. If you ordered something from Daraz with our ‘Best Price’ tag and found an identical product at a lower price from 
                                </div>
                            </div>
                            <div class="mb-4">
                                <h4 class="text-gray-800 text-lg hover:text-red-500">
                                    Is there a limit on the amount that I can receive for ‘Best Price Guaranteed’ claim?
                                </h4>
                                <div class="mt-4 text-[13px] text-gray-600 line-clamp-2">
                                    Yes, the maximum amount you can receive for a successful Best Price Guaranteed claim is 5x the price difference for up to 2,000 TK per order.**Terms and Conditions**
                                </div>
                            </div>
                            <div class="mb-4">
                                <h4 class="text-gray-800 text-lg hover:text-red-500">
                                    How is the price difference calculated for the ‘Best Price Guaranteed’ claim?
                                </h4>
                                <div class="mt-4 text-[13px] text-gray-600 line-clamp-2">
                                    Best Price Guaranteed is Daraz's promise to customers that our prices are lower or equal to applicable online platforms in Bangladesh. Daraz will refund you x the price difference for the product you purchased if you find an identical product at a lower price from any applicable online retailers.For Example: Let's say you purchased a ‘Best Price’ item worth 100TK and came across 
                                </div>
                            </div>
                            <div class="mb-4">
                                <h4 class="text-gray-800 text-lg hover:text-red-500">
                                    How do I submit a claim for Best Price Guaranteed?
                                </h4>
                                <div class="mt-4 text-[13px] text-gray-600 line-clamp-2">
                                    If you ordered something from Daraz with our ‘Best Price’ tag and found an identical product at a lower price from any applicable online retailers (PandaMart, Pickaboo, Chaldal, StarTech, OHSOGO, Shajgoj), Daraz will refund you 5x the price difference. For successful claims, the amount will be automatically deposited to your voucher tab and must be utilized within 14 daysBest Price across 
                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="flex space-x-2 items-center justify-center mt-8">
                        <div class="px-2 bg-red-400 cursor-pointer  rounded flex items-center justify-center w-max">
                            1
                        </div>
                        <div class="px-2 bg-red-400 cursor-pointer  rounded flex items-center justify-center w-max">
                            2
                        </div>
                        <div class="px-2 bg-red-400 cursor-pointer  rounded flex items-center justify-center w-max">
                            3
                        </div>
                        <div class="px-2 bg-red-400 cursor-pointer  rounded flex items-center justify-center w-max">
                            4
                        </div>
                        <div class="px-2 text-gray-500 cursor-pointer  rounded flex items-center justify-center w-max">
                            ...
                        </div>
                        <div class="px-2 bg-red-400 cursor-pointer  rounded flex items-center justify-center w-max">
                            7
                        </div>
                        <div class="px-1 py-[1px] cursor-pointer border rounded flex items-center justify-center w-max">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 text-gray-600">
                                <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
                              </svg>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>