
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage My Accounts</title>
</head>
<body class="bg-neutral-100">
    <div class="container mx-auto  my-10">
        <div class="grid grid-cols-6  w-full">
            <!-- left side start  -->
            <div class="col-span-1  px-3">
                <div class="pb-3">
                    <h3 class="text-xs text-gray-500 font-sans font-normal capitalize"> hello,Md.Rabiul Islam</h3>
                    <button class="flex items-center text-[10px] font-sans font-semibold capitalize px-2 py-[5px] rounded-full bg-[#4DB34A] text-white mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="size-3 mr-1"  viewBox="0,0,256,256">
                            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M20.29297,5.29297l-11.29297,11.29297l-4.29297,-4.29297l-1.41406,1.41406l5.70703,5.70703l12.70703,-12.70703z"></path></g></g>
                            </svg>
                          
                        verified account
                    </button>
                </div>
                <div class=" ">
                    <h3 class="text-base font-medium text-[#434446] capitalize">Mange my account</h3>
                    
                        <div class="pl-4 flex flex-col space-y-2 mt-3 text-gray-500 font-medium text-xs capitalize">
                                <div class=" ">My Profile</div>
                                <div class=" ">Address book</div>
                                <div class="">My Payment option</div>
                                <div class=" ">Daraz wallet</div>
                                <div class=" ">Vouchers</div>
                        </div>
                    
                </div>
                <div class="my-3">
                    <h3 class="text-base font-medium [#434446]">My Orders</h3>
                    <div class="pl-4 flex flex-col space-y-2 mt-1 text-xs text-gray-500 font-medium">
                        <div>My Returns</div>
                        <div class="text-sm text-cyan-600">My Cancelletaion</div>
                </div>                
                </div>
    
                <div class="">
                    <h3 class="text-base font-medium text-[#434446]  capitalize">My Reviews</h3>
                </div>
                <div class="mt-3">
                    <h3 class="text-base font-medium text-[#434446] leading-tight capitalize">My Wishlist & followed store </h3>
                </div>
                <div class="mt-3">
                    <h3 class="text-base font-medium text-[#434446]  capitalize">Sell on daraz</h3>
                </div>
            </div>
            <!-- left side end  -->
            <!-- rigth side start  -->
            <div class="col-span-5 pt-5 px-3  w-full pl-3">
                <div class="mb-5">
                    <h2 class="text-xl font-normal text-gray-600 mb-3">My Reviews</h2>
                </div>
    
                <div class="">
                    <div class="flex items-center py-3 px-3 rounded-lg bg-white space-x-5">
                        <div class="text-[#F86218] text-[17px] capitalize cursor-pointer">To Review (3)</div>
                        <div class="text-gray-800 text-[17px] capitalize cursor-pointer">History</div>
                    </div> 
                    <div class="bg-white rounded-lg p-3 mt-4">
                        <div class="grid grid-cols-2">
                            <div class="col-span-1 ">
                                <div class="py-2">
                                    <h4 class="text-base font-medium text-black">Men's choice</h4>
                                    <h4 class="text-xs text-gray-500">Purchased on 14 august 2023</h4>
                                </div>
                                <div class="px-2 py-3 rounded-md border">
                                    <div class="flex items-center space-x-4">
                                        <div class="w-20 h-16">
                                            <img class="w-24 h-16" src="assets/images/p1.jpg" alt="">
                                        </div>
                                        <div class="">
                                            <h4 class="text-gray-800 line-clamp-2 text-sm">
                                                Super Screen Rib Trouser for Men - Black
                                            </h4>
                                            <h4 class="text-gray-500 text-xs capitalize">
                                                color family:black, size: 34.
                                            </h4>
                                        </div>
                                        <div class="ml-5">
                                            <button class="px-3 py-[3px] rounded-sm bg-[#FF7B2E] hover:bg-[#f37932] text-white text-sm">Review</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="bg-white rounded-lg p-3 mt-4">
                        <div class="grid grid-cols-2 gap-x-3">
                            <div class="col-span-1 ">
                                <div class="py-2">
                                    <h4 class="text-base font-medium text-black">Men's choice</h4>
                                    <h4 class="text-xs text-gray-500">Purchased on 14 august 2023</h4>
                                </div>
                                <div class="px-2 py-3 rounded-md border">
                                    <div class="flex items-center space-x-4">
                                        <div class="w-20 h-16">
                                            <img class="w-24 h-16" src="assets/images/p1.jpg" alt="">
                                        </div>
                                        <div class="">
                                            <h4 class="text-gray-800 line-clamp-2 text-sm">
                                                Super Screen Rib Trouser for Men - Black
                                            </h4>
                                            <h4 class="text-gray-500 text-xs capitalize">
                                                color family:black, size: 34.
                                            </h4>
                                        </div>
                                        <div class="ml-5">
                                            <button class="px-3 py-[3px] rounded-sm bg-[#FF7B2E] hover:bg-[#f37932] text-white text-sm">Review</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-span-1 ">
                                <div class="py-2">
                                    <h4 class="text-base font-medium text-black">Men's choice</h4>
                                    <h4 class="text-xs text-gray-500">Purchased on 14 august 2023</h4>
                                </div>
                                <div class="px-2 py-3 rounded-md border">
                                    <div class="flex items-center space-x-4">
                                        <div class="w-20 h-16">
                                            <img class="w-24 h-16" src="assets/images/p1.jpg" alt="">
                                        </div>
                                        <div class="">
                                            <h4 class="text-gray-800 line-clamp-2 text-sm">
                                                Super Screen Rib Trouser for Men - Black
                                            </h4>
                                            <h4 class="text-gray-500 text-xs capitalize">
                                                color family:black, size: 34.
                                            </h4>
                                        </div>
                                        <div class="ml-5">
                                            <button class="px-3 py-[3px] rounded-sm bg-[#FF7B2E] hover:bg-[#f37932] text-white text-sm">Review</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
              </div>
             <!-- rigth side end  -->
    
        </div>
    </div>
</body>
</html>


