<div class="container mx-auto my-10">
    <div class="grid grid-cols-3 space-x-5">
<!-- left side cart products  -->
        <div class="col-span-2">
            <div class="mb-3 bg-white px-3 py-2 flex items-center justify-between">
                <div class="flex items-center space-x-2">
                    <input type="checkbox">
                    <h4 class="text-gray-500 text-xs font-normal uppercase">select all(2) items</h4>
                </div>
                <div class="">
                    <h4 class="text-gray-500 text-xs font-normal hover:text-red-500 uppercase">Delete</h4>
                </div>
            </div>
            <!-- products part start  -->
             <div class=" bg-white px-3 py-2 border-b">
                <div class="flex items-center space-x-2">
                    <input type="checkbox">
                    <h4 class="text-gray-800 cursor-pointer text-sm font-normal hover:text-sky-600 uppercase">Ps Fashion</h4>
                </div>
                <div class="w-full text-right">
                    <h4 class="text-gray-700 text-xs font-normal  uppercase">Earliest Delivery:23 Jul</h4>
                </div>
             </div>
             <div class="bg-white pt-6 px-3">
                <div class="grid grid-cols-4">
                    @for(item of cartLists; track cartLists[i].unitPrice;  let i = $index ){
                    <div class="col-span-2">
                            <div class="flex flex-row justify-start-items-start pb-10">
                                  
                                        <!-- <input type="checkbox" id="myCheckbox" (click)="updatePrice(i)"> -->
                                        <input type="checkbox" (change)="updatePrice(i)">   

                                <img class="ml-2 w-20 border border-gray-300" src="assets/images/p1.jpg" alt="">
                                <div class="">
                                    <h4 class="text-gray-800 text-sm capitalize ml-3">
                                        {{item.productName}}
                                    </h4>
                                    <h4 class="text-gray-500 text-xs capitalize ml-3">
                                        No Brand, Color Family:Black, Size:Int:36
                                    </h4>
                                </div>
                            </div>
                        
                    </div>

                    <div class="col-span-1">
                        <div class="text-center  px-2 w-full">
                            <h4 class="text-red-400">৳ {{item.totalPrice}}</h4>
                            <div class="flex items-center justify-center">

                            </div>
                        </div>
                    </div>
                    <div class="col-span-1 text-right">
                        <div class="flex items-center space-x-2 justify-end pr-5">
                            <div class="w-6 h-6 border rounded flex items-center justify-center text-lg text-gray-500 cursor-pointer" (click)="countLow(i)">-</div>
                        <div class="w-6 h-6 flex items-center justify-center text-lg text-gray-500">{{item.quantity}}</div>
                        <div class="w-6 h-6 border rounded flex items-center justify-center text-lg text-gray-500 cursor-pointer" (click)="countUp(i)">+</div>
                        </div>
                    </div>
                }
                </div>
            </div>  
        </div>
        <!-- right side order summery part  -->
         <div class="col-span-1 bg-white p-3 capitalize text">
            <h4 class="text-gray-600 text-lg">Order summery</h4>
            <div class="flex items-center justify-between text-sm pt-4">
                <h4 class="text-gray-500">Subtotal</h4>
                ৳ {{ orderSummery.subTotal > 0 ? orderSummery.subTotal : 0 }}
            </div>
            <div class="flex items-center justify-between text-sm pt-4">
                <h4 class="text-gray-500">Shiping fee</h4>
                <h4 class="text-gray-900">৳ {{ orderSummery.shippingCost }}</h4>
            </div>
            <div class="flex items-center justify-between text-sm pt-4">
                <h4 class="text-gray-500">Shiping fee discount</h4>
                <h4 class="text-gray-900">৳ 0</h4>
            </div>
            <!-- Vouchers and apply  -->
            <div class="flex items-center justify-between space-x-2 text-sm pt-4">
                <div class="w-full">
                    <input class="w-full pl-2 py-[8px] border placeholder:text-base outline-none text-sm rounded-sm" type="text" placeholder="Enter Vouchers Code">
                </div>
                <div class="flex w-max items-center cursor-pointer px-8 transition-all duration-300 py-[8px] rounded-sm justify-center capitalize bg-[#25A5D8] text-white text-sm">
                    Apply
                </div>
            </div>
            <!-- total  -->
            <div class="flex items-center justify-between text-sm pt-4 mb-4">
                <h4 class="text-gray-500">Total</h4>
                <h4 class="text-red-500">৳ {{ orderSummery.grandTotal }}</h4>
            </div>
            <!-- proceed to checkout  -->
            <!-- <div class="flex w-full items-center cursor-pointer px-8 transition-all duration-300 py-[8px] rounded-sm justify-center capitalize bg-orange-400 text-white text-sm">
                proceed to checkout(2)
            </div> -->

             <!-- Proceed to checkout -->
             <div class="flex w-full items-center cursor-pointer px-8 transition-all duration-300 py-[8px] rounded-sm justify-center capitalize bg-orange-400 text-white text-sm">
                proceed to checkout ({{ cartLists.length }})
            </div>
         </div>
    </div>
</div>
