<div class="container mx-auto px-20 my-10">
    <!-- upper part start  -->
    <div class="bg-white">
        <div class="flex flex-row justify-between items-center px-10 w-full py-2">
            <!-- left side  -->
            <div class="flex items-center">
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-2 text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                      </svg>
                      
                </div>
                <div class="text-gray-500 capitalize pl-1 text-[9px]">Download mobile app</div>
            </div>
            <!-- left side  end-->
             <!-- right side start  -->
             <div class="flex space-x-1 items-center justify-end capitalize text-[9px] cursor-pointer">
                <div class="text-gray-500 py-1 rounded px-3 bg-lime-300">More Rawa</div>
                <div class="text-gray-500 py-1 rounded px-3 hover:bg-lime-300">About Rawa</div>
                <div class="text-gray-500 py-1 rounded px-3 hover:bg-lime-300">Rawa care</div>
                <div class="text-gray-500 py-1 rounded px-3 hover:bg-lime-300">promo</div>
                <div class="text-gray-800 py-1 hover:rounded px-3 hover:text-gray-500 border-l font-medium">sign Up</div>
                <div class="text-gray-800 py-1 hover:rounded pl-3 hover:text-gray-500 border-l font-medium">Login</div>
             </div>
             <!-- right side start  -->
        </div>
        <div class="flex flex-row justify-between items-center py-[6px] border-y px-10 p">
            <div class="w-max text-lime-400 font-semibold">RAWA.com</div>
            <!-- Search part start  -->
            <div class="rounded border  flex-1 mx-5">
                <div class="flex items-center w-full">
                    <div class="px-3 w-32 flex items-center justify-between text-[11px] border-r py-2">
                        <h4 class="text-gray-500">All Category</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 text-gray-500">
                            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                          </svg>
                          
                    </div>
                    <!-- Form part  -->
                    <form class="text-left flex w-full">
                        <div class="flex items-center relative w-full">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 absolute ml-3 text-gray-600">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                              </svg>
                              
                            <input class="pl-9 pr-3 py-[6px] placeholder:text-[10px] text-gray-600 text-[11px] w-full outline-none" type="text" placeholder="Search Product and brand here">
                        </div>
                    </form>
                    <!-- Form part end  -->
                </div>
            </div>
            <!-- Search part end  -->

            <!-- cart and notification part  -->
            <div class="flex justify-between items-center space-x-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 text-lime-400">
                    <path fill-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 0 0 4.25 22.5h15.5a1.875 1.875 0 0 0 1.865-2.071l-1.263-12a1.875 1.875 0 0 0-1.865-1.679H16.5V6a4.5 4.5 0 1 0-9 0ZM12 3a3 3 0 0 0-3 3v.75h6V6a3 3 0 0 0-3-3Zm-3 8.25a3 3 0 1 0 6 0v-.75a.75.75 0 0 1 1.5 0v.75a4.5 4.5 0 1 1-9 0v-.75a.75.75 0 0 1 1.5 0v.75Z" clip-rule="evenodd" />
                  </svg>
                  
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 text-lime-400">
                    <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0 1 13.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 0 1-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 1 1-7.48 0 24.585 24.585 0 0 1-4.831-1.244.75.75 0 0 1-.298-1.205A8.217 8.217 0 0 0 5.25 9.75V9Zm4.502 8.9a2.25 2.25 0 1 0 4.496 0 25.057 25.057 0 0 1-4.496 0Z" clip-rule="evenodd" />
                  </svg>
                  
            </div>
            <!-- cart and notification part  -->

        </div>
    </div>
    <!-- upper part end  -->

<!-- hero part start             -->
<div class="bg-[#F9F9F9] pl-10">
<div class="grid grid-cols-2 w-full pr-2">
<div class="col-span-1 w-full flex flex-col space-y-1 items-start justify-center">
    <div class="text-[#9A9EA2]">
        #Big fashion Sale
    </div>
    <div class="text-[#040A15] text-3xl">
        Limited Time Offer <br> up to 50% OFF
    </div>
    <div class="text-[#9A9EA2] capitalize">
        Redefine your everyday life
    </div>
</div>
<div class="col-span-1 w-full pt-4">
    <img src="assets/images/bg-rawa.png" alt="">
</div>
</div>
</div>
<!-- hero part end             -->
<!-- mini catagory part start  -->
<div class="px-12 py-10 bg-white">
<div class="flex flex-row items-center justify-between">
    <div class="flex flex-col space-y-1 justify-center items-center">
        <div class="bg-lime-200 w-[70px] h-[70px] rounded-full flex items-center justify-center">
            <img class="w-10 h-12" src="assets/images/t-2.png" alt="">
        </div>
        <h4 class="text-gray-800 text-[12px]">T-shirt</h4>
    </div>
    <div class="flex flex-col space-y-1 justify-center items-center">
        <div class="bg-lime-200 w-[70px] h-[70px] rounded-full flex items-center justify-center">
            <img class="w-10 h-12" src="assets/images/jacket.png" alt="">
        </div>
        <h4 class="text-gray-800 text-[12px]">Jacket</h4>
    </div>
    <div class="flex flex-col space-y-1 justify-center items-center">
        <div class="bg-lime-200 w-[70px] h-[70px] rounded-full flex items-center justify-center">
            <img class="w-10 h-12" src="assets/images/shirt1.png" alt="">
        </div>
        <h4 class="text-gray-800 text-[12px]">Shirt</h4>
    </div>
    <div class="flex flex-col space-y-1 justify-center items-center">
        <div class="bg-lime-200 w-[70px] h-[70px] rounded-full flex items-center justify-center">
            <img class="w-10 h-12" src="assets/images/jeans1.png" alt="">
        </div>
        <h4 class="text-gray-800 text-[12px]">Jeans</h4>
    </div>

    <div class="flex flex-col space-y-1 justify-center items-center">
        <div class="bg-lime-200 w-[70px] h-[70px] rounded-full flex items-center justify-center">
            <img class="w-10 h-12" src="assets/images/shoes12.png" alt="">
        </div>
        <h4 class="text-gray-800 text-[12px]">Shoes</h4>
    </div>

    <div class="flex flex-col space-y-1 justify-center items-center">
        <div class="bg-lime-200 w-[70px] h-[70px] rounded-full flex items-center justify-center">
            <img class="w-10 h-12" src="assets/images/cap.png" alt="">
        </div>
        <h4 class="text-gray-800 text-[12px]">Cap</h4>
    </div>

    <div class="flex flex-col space-y-1 justify-center items-center">
        <div class="bg-lime-200 w-[70px] h-[70px] rounded-full flex items-center justify-center">
            <img class="w-10 h-12" src="assets/images/bagg1.png" alt="">
        </div>
        <h4 class="text-gray-800 text-[12px]">Bag</h4>
    </div>

    <div class="flex flex-col space-y-1 justify-center items-center">
        <div class="bg-lime-200 w-[70px] h-[70px] rounded-full flex items-center justify-center">
            <img class="w-10 h-12" src="assets/images/watch1.png" alt="">
        </div>
        <h4 class="text-gray-800 text-[12px]">Watch</h4>
    </div>
    <div class="flex flex-col space-y-1 justify-center items-center">
        <div class="border-gray-400 border w-[70px] h-[70px] rounded-full flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-gray-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z" />
              </svg>
        </div>
        <h4 class="text-gray-800 text-[12px]">Category</h4>
    </div>

</div>
</div>
<!-- mini catagory part end  -->
<!-- Flash sale part start  -->
<div class="px-10 py-3 bg-[#F4F4F5]">
 <div class="py-3 flex flex-row items-center justify-between">
    <div class="flex flex-row items-center space-x-2 justify-center">
        <div class=" h-6 w-6 rounded-full bg-lime-300 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 text-gray-600">
                <path fill-rule="evenodd" d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z" clip-rule="evenodd" />
              </svg>
        </div>
        <h4 class="text-gray-800 text-xs font-medium">Flash Sale</h4>
        <div class="flex items-center">
            <div class=" h-5 w-5 rounded-full text-[8px] text-white font-semibold bg-red-500 flex items-center justify-center">
                08
            </div>
            <h4 class="text-black font-semibold px-1">:</h4>
            <div class=" h-5 w-5 rounded-full text-[8px] text-white font-semibold bg-red-500 flex items-center justify-center">
                17
            </div>
            <h4 class="text-black font-semibold px-1">:</h4>
            <div class=" h-5 w-5 rounded-full text-[8px] text-white font-semibold bg-red-500 flex items-center justify-center">
                56
            </div>
        </div>
    </div>

    <div class="flex itemes-center justify-end space-x-5">
        <div class="px-2  flex items-center justify-center border border-gray-300 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 text-gray-800">
                <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
              </svg>
              
              
        </div>
        <div class="px-3 bg-lime-400 flex items-center justify-center rounded">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-white">
                <path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
        </div> 
    </div>
 </div>

 <!-- product part  -->
  <div class="flex flex-wrap items-center space-x-3 h-max">
    <div class="w-36 hover:shadow-lg rounded-lg bg-white mb-5 relative">
        <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-red-500">
                <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
              </svg>
              
        </div>
        <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
            <img class="h-full" src="assets/images/jeans1.png" alt="">
        </div>
        <div class="p-2">
            <h4 class="text-gray-800 text-[10px] font-medium">EXPORT Quality New Stylish Fashionable denim</h4>
        <h4 class="text-red-400 text-[10px]">Tk 580 <del class="text-gray-400">Tk870</del></h4>
        </div>
    </div>

    <div class="w-36 hover:shadow-lg rounded-lg bg-white mb-5 relative">
        <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
              </svg>
              
        </div>
        <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
            <img class="h-full" src="assets/images/shirt1.png" alt="">
        </div>
        <div class="p-2">
            <h4 class="text-gray-800 text-[10px] font-medium">Men's Casual Full Sleeve Shirt for Men</h4>
        <h4 class="text-red-400 text-[10px]">Tk 480 <del class="text-gray-400">Tk520</del></h4>
        </div>
    </div>

    <div class="w-36 hover:shadow-lg rounded-lg bg-white mb-5 relative">
        <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
              </svg>
              
        </div>
        <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
            <img class="h-full" src="assets/images/t-2.png" alt="">
        </div>
        <div class="p-2">
            <h4 class="text-gray-800 text-[10px] font-medium">Premium Quality mesh fabric T-Shirt for Men</h4>
        <h4 class="text-red-400 text-[10px]">Tk 300 <del class="text-gray-400">Tk420</del></h4>
        </div>
    </div>

    <div class="w-36 hover:shadow-lg rounded-lg bg-white mb-5 relative">
        <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-red-500">
                <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
              </svg>
              
        </div>
        <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
            <img class="h-full" src="assets/images/bagg1.png" alt="">
        </div>
        <div class="p-2">
            <h4 class="text-gray-800 text-[10px] font-medium">Summer New Vintage Men Crossbody Shoulder Bag</h4>
        <h4 class="text-red-400 text-[10px]">Tk 1610 <del class="text-gray-400">Tk2420</del></h4>
        </div>
    </div>

    <div class="w-36 hover:shadow-lg rounded-lg bg-white mb-5 relative">
        <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
              </svg>
              
        </div>
        <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
            <img class="h-full" src="assets/images/shoes12.png" alt="">
        </div>
        <div class="p-2">
            <h4 class="text-gray-800 text-[10px] font-medium">Premium Quality Artificial Leather Casual Shoes</h4>
        <h4 class="text-red-400 text-[10px]">Tk 1000 <del class="text-gray-400">Tk1250</del></h4>
        </div>
    </div>

    <!-- <div class="w-36 hover:shadow-lg rounded-lg bg-white mb-5">
        <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
            <img class="h-full" src="assets/images/cap.png" alt="">
        </div>
        <div class="p-2">
            <h4 class="text-gray-800 text-[10px] font-medium">Black and White Cotton NY Cap for Men</h4>
        <h4 class="text-red-400 text-[10px]">Tk 150 <del class="text-gray-400">Tk242</del></h4>
        </div>
    </div>

    <div class="w-36 hover:shadow-lg rounded-lg bg-white mb-5">
        <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
            <img class="h-full" src="assets/images/bagg1.png" alt="">
        </div>
        <div class="p-2">
            <h4 class="text-gray-800 text-[10px] font-medium">Summer New Vintage Men Crossbody Shoulder Bag</h4>
        <h4 class="text-red-400 text-[10px]">Tk 1610 <del class="text-gray-400">Tk2420</del></h4>
        </div>
    </div>

    <div class="w-36 hover:shadow-lg rounded-lg bg-white mb-5">
        <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
            <img class="h-full" src="assets/images/bagg1.png" alt="">
        </div>
        <div class="p-2">
            <h4 class="text-gray-800 text-[10px] font-medium">Summer New Vintage Men Crossbody Shoulder Bag</h4>
        <h4 class="text-red-400 text-[10px]">Tk 1610 <del class="text-gray-400">Tk2420</del></h4>
        </div>
    </div> -->
  </div>
 <!-- product part end -->
</div>
<!-- Flash sale part end  -->

<!-- Todays For you start  -->
<div class=" px-10 bg-white py-5">
<div class="flex items-center justify-between w-full py-3 ">
    <div class="w-64 flex items-center justify-start">
        <h4 class="text-2xl text-gray-800 font-semibold">Todays For You!</h4>
    </div>
    <div class="flex items-center justify-end space-x-2 w-full cursor-pointer">
        <div class="rounded-md px-5 flex items-center justify-center py-[6px] bg-lime-400 text-[10px] text-gray-600">Best Seller</div>
        <div class="rounded-md px-5 flex items-center justify-center py-[6px] hover:bg-lime-400 border border-gray-400 text-[10px] text-gray-600">Keep Stylish</div>
        <div class="rounded-md px-5 flex items-center justify-center py-[6px] hover:bg-lime-400 border border-gray-400 text-[10px] text-gray-600">Special Discount</div>
        <div class="rounded-md px-5 flex items-center justify-center py-[6px] hover:bg-lime-400 border border-gray-400 text-[10px] text-gray-600">Official Store</div>
        <div class="rounded-md px-5 flex items-center justify-center py-[6px] hover:bg-lime-400 border border-gray-400 text-[10px] text-gray-600">Coveted Product</div>
    </div>
 </div>
  <!-- product part  -->
  <div class="flex flex-wrap items-center justify-between">
    <div class="group">
        <div class="w-36 hover:shadow-lg rounded-t-lg bg-white mb-5 relative border border-white group-hover:border-lime-400">
            <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-red-500">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>
                  
            </div>
            <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
                <img class="h-full" src="assets/images/jeans1.png" alt="">
            </div>
            <div class="p-2">
                <h4 class="text-gray-800 text-[10px] font-medium">EXPORT Quality New Stylish Fashionable denim</h4>
                <div class="flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-[#F7B047]">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                      <h4 class="text-gray-700 font-medium text-[10px]">4.9</h4>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                        <rect width="10" height="10" x="3" y="3" rx="1.5" />
                      </svg>
                      <h4 class="text-gray-400 text-[8px] py-1">10k+ Sold</h4>
                </div>
            <h4 class="text-red-400 text-[10px]">Tk 580 <del class="text-gray-400">Tk870</del></h4>
            </div>
            <!-- under hover Find more start  -->
            <div class="invisible group-hover:visible absolute p-2 rounded-b-lg -bottom-7 z-30 -left-[0.90px] -right-[0.90px] flex items-center justify-center bg-lime-400">
                <div class="text-gray-800 text-[10px]">Find more</div>
            </div>
            <!-- under hover Find more start  -->

        </div>
    </div>

    <div class="group">
        <div class="w-36 hover:shadow-lg rounded-t-lg bg-white mb-5 relative border border-white group-hover:border-lime-400">
            <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>
                  
            </div>
            <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
                <img class="h-full" src="assets/images/shirt1.png" alt="">
            </div>
            <div class="p-2">
                <h4 class="text-gray-800 text-[10px] font-medium">Men's Casual Full Sleeve Shirt for Men</h4>
                <div class="flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-[#F7B047]">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                      <h4 class="text-gray-700 font-medium text-[10px]">4.9</h4>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                        <rect width="10" height="10" x="3" y="3" rx="1.5" />
                      </svg>
                      <h4 class="text-gray-400 text-[8px] py-1">10k+ Sold</h4>
                </div>
            <h4 class="text-red-400 text-[10px]">Tk 480 <del class="text-gray-400">Tk520</del></h4>
            </div>
            <!-- under hover Find more start  -->
            <div class="invisible group-hover:visible absolute p-2 rounded-b-lg -bottom-7 z-30 -left-[0.90px] -right-[0.90px] flex items-center justify-center bg-lime-400">
                <div class="text-gray-800 text-[10px]">Find more</div>
            </div>
            <!-- under hover Find more start  -->
        </div>
    </div>

    <div class="group">
        <div class="w-36 hover:shadow-lg rounded-t-lg bg-white mb-5 relative border border-white group-hover:border-lime-400">
            <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>
                  
            </div>
            <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
                <img class="h-full" src="assets/images/t-2.png" alt="">
            </div>
            <div class="p-2">
                <h4 class="text-gray-800 text-[10px] font-medium">Premium Quality mesh fabric T-Shirt for Men</h4>
                <div class="flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-[#F7B047]">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                      <h4 class="text-gray-700 font-medium text-[10px]">4.9</h4>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                        <rect width="10" height="10" x="3" y="3" rx="1.5" />
                      </svg>
                      <h4 class="text-gray-400 text-[8px] py-1">10k+ Sold</h4>
                </div>
            <h4 class="text-red-400 text-[10px]">Tk 300 <del class="text-gray-400">Tk420</del></h4>
            </div>
            <!-- under hover Find more start  -->
            <div class="invisible group-hover:visible absolute p-2 rounded-b-lg -bottom-7 z-30 -left-[0.90px] -right-[0.90px] flex items-center justify-center bg-lime-400">
                <div class="text-gray-800 text-[10px]">Find more</div>
            </div>
            <!-- under hover Find more start  -->
        </div>
    </div>

    <div class="group">
        <div class="w-36 hover:shadow-lg rounded-t-lg bg-white mb-5 relative border border-white group-hover:border-lime-400">
            <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-red-500">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>
                  
            </div>
            <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
                <img class="h-full" src="assets/images/bagg1.png" alt="">
            </div>
            <div class="p-2">
                <h4 class="text-gray-800 text-[10px] font-medium">Summer New Vintage Men Crossbody Shoulder Bag</h4>
                <div class="flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-[#F7B047]">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                      <h4 class="text-gray-700 font-medium text-[10px]">4.9</h4>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                        <rect width="10" height="10" x="3" y="3" rx="1.5" />
                      </svg>
                      <h4 class="text-gray-400 text-[8px] py-1">10k+ Sold</h4>
                </div>
            <h4 class="text-red-400 text-[10px]">Tk 1610 <del class="text-gray-400">Tk2420</del></h4>
            </div>
            <!-- under hover Find more start  -->
            <div class="invisible group-hover:visible absolute p-2 rounded-b-lg -bottom-7 z-30 -left-[0.90px] -right-[0.90px] flex items-center justify-center bg-lime-400">
                <div class="text-gray-800 text-[10px]">Find more</div>
            </div>
            <!-- under hover Find more start  -->
        </div>
    </div>

    <div class="group">
        <div class="w-36 hover:shadow-lg rounded-t-lg bg-white mb-5 relative border border-white group-hover:border-lime-400">
            <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>
                  
            </div>
            <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
                <img class="h-full" src="assets/images/shoes12.png" alt="">
            </div>
            <div class="p-2">
                <h4 class="text-gray-800 text-[10px] font-medium">Premium Quality Artificial Leather Casual Shoes</h4>
                <div class="flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-[#F7B047]">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                      <h4 class="text-gray-700 font-medium text-[10px]">4.9</h4>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                        <rect width="10" height="10" x="3" y="3" rx="1.5" />
                      </svg>
                      <h4 class="text-gray-400 text-[8px] py-1">10k+ Sold</h4>
                </div>
            <h4 class="text-red-400 text-[10px]">Tk 1000 <del class="text-gray-400">Tk1250</del></h4>
            </div>
            <!-- under hover Find more start  -->
            <div class="invisible group-hover:visible absolute p-2 rounded-b-lg -bottom-7 z-30 -left-[0.90px] -right-[0.90px] flex items-center justify-center bg-lime-400">
                <div class="text-gray-800 text-[10px]">Find more</div>
            </div>
            <!-- under hover Find more start  -->
        </div>
    </div>

    <div class="group">
        <div class="w-36 hover:shadow-lg rounded-t-lg bg-white mb-5 relative border border-white group-hover:border-lime-400">
            <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-red-500">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>
                  
            </div>
            <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
                <img class="h-full" src="assets/images/cap.png" alt="">
            </div>
            <div class="p-2">
                <h4 class="text-gray-800 text-[10px] font-medium">Black and White Cotton NY Cap for Men</h4>
                <div class="flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-[#F7B047]">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                      <h4 class="text-gray-700 font-medium text-[10px]">4.9</h4>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                        <rect width="10" height="10" x="3" y="3" rx="1.5" />
                      </svg>
                      <h4 class="text-gray-400 text-[8px] py-1">10k+ Sold</h4>
                </div>
            <h4 class="text-red-400 text-[10px]">Tk 150 <del class="text-gray-400">Tk242</del></h4>
            </div>
            <!-- under hover Find more start  -->
            <div class="invisible group-hover:visible absolute p-2 rounded-b-lg -bottom-7 z-30 -left-[0.90px] -right-[0.90px] flex items-center justify-center bg-lime-400">
                <div class="text-gray-800 text-[10px]">Find more</div>
            </div>
            <!-- under hover Find more start  -->
        </div>
    </div>

    <div class="group">
        <div class="w-36 hover:shadow-lg rounded-t-lg bg-white mb-5 relative border border-white group-hover:border-lime-400">
            <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-red-500">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>
                  
            </div>
            <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
                <img class="h-full" src="assets/images/bagg1.png" alt="">
            </div>
            <div class="p-2">
                <h4 class="text-gray-800 text-[10px] font-medium">Summer New Vintage Men Crossbody Shoulder Bag</h4>
                <div class="flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-[#F7B047]">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                      <h4 class="text-gray-700 font-medium text-[10px]">4.9</h4>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                        <rect width="10" height="10" x="3" y="3" rx="1.5" />
                      </svg>
                      <h4 class="text-gray-400 text-[8px] py-1">10k+ Sold</h4>
                </div>
            <h4 class="text-red-400 text-[10px]">Tk 1610 <del class="text-gray-400">Tk2420</del></h4>
            </div>
            <!-- under hover Find more start  -->
            <div class="invisible group-hover:visible absolute p-2 rounded-b-lg -bottom-7 z-30 -left-[0.90px] -right-[0.90px] flex items-center justify-center bg-lime-400">
                <div class="text-gray-800 text-[10px]">Find more</div>
            </div>
            <!-- under hover Find more start  -->
        </div>
    </div>
    <div class="group">
        <div class="w-36 hover:shadow-lg rounded-t-lg bg-white mb-5 relative border border-white group-hover:border-lime-400">
            <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>
                  
            </div>
            <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
                <img class="h-full" src="assets/images/shirt1.png" alt="">
            </div>
            <div class="p-2">
                <h4 class="text-gray-800 text-[10px] font-medium">Men's Casual Full Sleeve Shirt for Men</h4>
                <div class="flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-[#F7B047]">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                      <h4 class="text-gray-700 font-medium text-[10px]">4.9</h4>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                        <rect width="10" height="10" x="3" y="3" rx="1.5" />
                      </svg>
                      <h4 class="text-gray-400 text-[8px] py-1">10k+ Sold</h4>
                </div>
            <h4 class="text-red-400 text-[10px]">Tk 480 <del class="text-gray-400">Tk520</del></h4>
            </div>
            <!-- under hover Find more start  -->
            <div class="invisible group-hover:visible absolute p-2 rounded-b-lg -bottom-7 z-30 -left-[0.90px] -right-[0.90px] flex items-center justify-center bg-lime-400">
                <div class="text-gray-800 text-[10px]">Find more</div>
            </div>
            <!-- under hover Find more start  -->
        </div>
    </div>

    <div class="group">
        <div class="w-36 hover:shadow-lg rounded-t-lg bg-white mb-5 relative border border-white group-hover:border-lime-400">
            <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-gray-500">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>
                  
            </div>
            <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
                <img class="h-full" src="assets/images/t-2.png" alt="">
            </div>
            <div class="p-2">
                <h4 class="text-gray-800 text-[10px] font-medium">Premium Quality mesh fabric T-Shirt for Men</h4>
                <div class="flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-[#F7B047]">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                      <h4 class="text-gray-700 font-medium text-[10px]">4.9</h4>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                        <rect width="10" height="10" x="3" y="3" rx="1.5" />
                      </svg>
                      <h4 class="text-gray-400 text-[8px] py-1">10k+ Sold</h4>
                </div>
            <h4 class="text-red-400 text-[10px]">Tk 300 <del class="text-gray-400">Tk420</del></h4>
            </div>
            <!-- under hover Find more start  -->
            <div class="invisible group-hover:visible absolute p-2 rounded-b-lg -bottom-7 z-30 -left-[0.90px] -right-[0.90px] flex items-center justify-center bg-lime-400">
                <div class="text-gray-800 text-[10px]">Find more</div>
            </div>
            <!-- under hover Find more start  -->
        </div>
    </div>

    <div class="group">
        <div class="w-36 hover:shadow-lg rounded-t-lg bg-white mb-5 relative border border-white group-hover:border-lime-400">
            <div class="absolute top-2 right-2 rounded-full flex items-center justify-center h-5 w-5 bg-[#FEFEFE]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3 text-red-500">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                  </svg>
                  
            </div>
            <div class="w-full h-44 bg-[#DDDDDD] rounded-t-lg">
                <img class="h-full" src="assets/images/bagg1.png" alt="">
            </div>
            <div class="p-2">
                <h4 class="text-gray-800 text-[10px] font-medium">Summer New Vintage Men Crossbody Shoulder Bag</h4>
                <div class="flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-[#F7B047]">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                      <h4 class="text-gray-700 font-medium text-[10px]">4.9</h4>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-1 text-[#292C2F] mx-[6px]">
                        <rect width="10" height="10" x="3" y="3" rx="1.5" />
                      </svg>
                      <h4 class="text-gray-400 text-[8px] py-1">10k+ Sold</h4>
                </div>
            <h4 class="text-red-400 text-[10px]">Tk 1610 <del class="text-gray-400">Tk2420</del></h4>
            </div>
            <!-- under hover Find more start  -->
            <div class="invisible group-hover:visible absolute p-2 rounded-b-lg -bottom-7 z-30 -left-[0.90px] -right-[0.90px] flex items-center justify-center bg-lime-400">
                <div class="text-gray-800 text-[10px]">Find more</div>
            </div>
            <!-- under hover Find more start  -->
        </div>
    </div>
  </div>
 <!-- product part end -->
</div>
<!-- Todays For you end -->

<!-- Best selling store part start  -->
<div class="px-10 py-3 bg-white">
<div class="text-base text-[#000000] text-center py-3 font-medium w">Best Selling Store</div>
<div class="grid grid-cols-3 gap-x-3 py-1 w-full">
    <div class="col-span-1 w-full rounded-2xl bg-[#D0D3DA] relative">
        <div class="w-full flex flex-col items-center justify-end -mt-3">
            <img class="w-5/6 h-44 pt-3 " src="assets/images/mall.png" alt="">
        </div>
        <div class="text-center py-8">
            <h4 class="text-gray-600 font-semibold text-[16px]">Rawa Mall</h4>
            <h4 class="text-gray-500 text-[10px] px-16">Shop,Explore,Deligt and Experience Mall Magic</h4>
        </div>
    </div>
    <!-- right side colmn  -->
     <div class="col-span-2 w-full">
        <div class="grid grid-cols-2 grid-rows-2 gap-2">
            <div class="col-span-1 rounded-xl p-2 bg-white border">
                <div class="flex items-center justify-start">
                    <div class="h-8 w-8 rounded-full bg-gray-300 font-semibold text-gray-950 flex items-center text-[8ox] justify-center">R</div>
                    <div class="pl-3">
                        <h4 class="text-[10px] font-medium text-[#000000]">Nike Sae Small</h4>
                        <h4 class="text-[8px] text-gray-500">'Aust do it bro</h4>
                    </div>
                </div>
                <div class="grid grid-cols-3 pt-2 gap-x-2">
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                </div>
            </div>
            <div class="col-span-1 rounded-xl p-2 bg-white border">
                <div class="flex items-center justify-start">
                    <div class="h-8 w-8 rounded-full bg-gray-300 font-semibold text-gray-950 flex items-center text-[8ox] justify-center">R</div>
                    <div class="pl-3">
                        <h4 class="text-[10px] font-medium text-[#000000]">Nike Sae Small</h4>
                        <h4 class="text-[8px] text-gray-500">'Aust do it bro</h4>
                    </div>
                </div>
                <div class="grid grid-cols-3 pt-2 gap-x-2">
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                </div>
            </div>
            <div class="col-span-1 rounded-xl p-2 bg-white border">
                <div class="flex items-center justify-start">
                    <div class="h-8 w-8 rounded-full bg-gray-300 font-semibold text-gray-950 flex items-center text-[8ox] justify-center">R</div>
                    <div class="pl-3">
                        <h4 class="text-[10px] font-medium text-[#000000]">Nike Sae Small</h4>
                        <h4 class="text-[8px] text-gray-500">'Aust do it bro</h4>
                    </div>
                </div>
                <div class="grid grid-cols-3 pt-2 gap-x-2">
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                </div>
            </div>
            <div class="col-span-1 rounded-xl p-2 bg-white border">
                <div class="flex items-center justify-start">
                    <div class="h-8 w-8 rounded-full bg-gray-300 font-semibold text-gray-950 flex items-center text-[8ox] justify-center">R</div>
                    <div class="pl-3">
                        <h4 class="text-[10px] font-medium text-[#000000]">Nike Sae Small</h4>
                        <h4 class="text-[8px] text-gray-500">'Aust do it bro</h4>
                    </div>
                </div>
                <div class="grid grid-cols-3 pt-2 gap-x-2">
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                    <div class="col-span-1 w-full text-center">
                        <div class="bg-[#D0D3DA] rounded-lg flex items-center justify-center">
                            <img class="w-16 h-16" src="assets/images/bagg1.png" alt="">
                        </div>
                        <h4 class="text-black text-[10px] pt-1">Tk.1650</h4>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
</div>
<!-- Best selling store part   end  -->
<!-- Footer part start  -->
<div class="">
<div class="bg-cover bg-center  relative h-[400px] overflow-hidden" 
style="background-image: url('assets/images/footer1.png')">
<div class="absolute h-full w-full overflow-hidden bg-fixed"
style="background-color: rgba(0, 0, 0, 0.6)">
<div class="flex flex-col h-full items-center justify-between">
<div class="text-white pt-16 text-4xl flex items-center justify-center">
    "Lets's Shop Beyound Boundaries"
</div>
<div class="bg-[#1D242D] w-full">
    <div class="px-10 py-5 grid grid-cols-3">
        <div class="col-span-1 w-full flex flex-col justify-between items-start">
            <div class="">
                <h3 class="text-2xl text-white">Rawa.com</h3>
                <h4 class="text-white text-[10px] pt-2">"Lets's Shop Beyound Boundaries"</h4>
            </div>
            <div class="flex items-center">

            </div>
        </div>
    </div>
</div>
</div>

</div>

<!-- footer  -->

<!-- footer  -->
</div>
</div>
<!-- Footer part start  -->

</div>
