<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage My Accounts</title>
</head>
<body class="bg-neutral-100">
    <div class="container mx-auto  my-10">
        <div class="grid grid-cols-6  w-full">
            <!-- left side start  -->
            <div class="col-span-1  px-3">
                <div class="pb-3">
                    <h3 class="text-xs text-gray-500 font-sans font-normal capitalize"> hello,Md.Rabiul Islam</h3>
                    <button class="flex items-center text-[10px] font-sans font-semibold capitalize px-2 py-[5px] rounded-full bg-[#4DB34A] text-white mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="size-3 mr-1"  viewBox="0,0,256,256">
                            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M20.29297,5.29297l-11.29297,11.29297l-4.29297,-4.29297l-1.41406,1.41406l5.70703,5.70703l12.70703,-12.70703z"></path></g></g>
                            </svg>
                          
                        verified account
                    </button>
                </div>
                <div class=" ">
                    <h3 class="text-base font-medium text-[#434446] capitalize">Mange my account</h3>
                    
                        <div class="pl-4 flex flex-col space-y-2 mt-3 text-gray-500 font-medium text-xs capitalize">
                                <div class="">My Profile</div>
                                <div class=" text-sm text-cyan-600">Address book</div>
                                <div class=" ">My Payment option</div>
                                <div class=" ">Daraz wallet</div>
                                <div class=" ">Vouchers</div>
                        </div>
                    
                </div>
                <div class="my-3">
                    <h3 class="text-base font-medium text-[#434446]">My Orders</h3>
                    <div class="pl-4 flex flex-col space-y-2 mt-1 text-xs text-gray-500 font-medium">
                        <div>My Returns</div>
                        <div>My Cancelletaion</div>
                </div>                
                </div>
    
                <div class="">
                    <h4 class="text-base font-medium text-[#434446]  capitalize cursor-pointer">My Reviews</h4>
                </div>
                <div class="mt-3">
                    <h4 class="text-base font-medium text-[#434446] capitalize cursor-pointer">My Wishlist <br>& followed store </h4>
                </div>
                <div class="mt-3">
                    <h4 class="text-base font-medium text-[#434446]  capitalize cursor-pointer">Sell on daraz</h4>
                </div>
            </div>
            <!-- left side end  -->
                                            <!-- rigth side start  -->
              <div class="col-span-5 px-3 w-full pl-3">
                <div class="mb-5">
                    <div class="flex items-center justify-between">
                        <h2 class="text-xl font-medium text-gray-950 mb-3">My Profiles </h2>
                        <!-- @if(open==false){ -->

                            <button [disabled] type="button" class="px-5 py-2 rounded-md text-base bg-gradient-to-r from-teal-400 to-blue-500 hover:from-pink-500 hover:to-orange-500 text-gray-800 mb-3" (click)="openForm()"> Add new Address</button>
                        <!-- } -->
                    </div>
                    
                    <div class="">
                        
                        <div class="flex items-center justify-start w-full flex-wrap">
                          
                                @for (item of cardOne; track item; let i = $index) {
                                    <div class="w-3/6 border rounded-md hover:shadow-2xl duration-300 transition-all p-4 bg-white">
                                        <div class="p-4">
                                            <div class="flex items-center justify-between text-xs">
                                                <h4 class="text-gray-700">{{item.name}}</h4>
                                                <div class="flex items-center jusstify-center space-x-3">
                                                    <h4 class="text-red-500 uppercase cursor-pointer" (click)="removeItem(i)">Delete</h4>
                                                    <h4 class="text-teal-500 uppercase cursor-pointer" (click)="updateAddres()">Edit</h4>
                                                </div>
                                            </div>
                                            <div class="flex items-center text-xs mt-2">
                                                <h4 class="text-gray-700">{{item.phone}}</h4>
                                            </div>
                                            <div class="flex items-center text-xs mt-2">
                                                <h4 class="text-gray-700"> <span class="pr-1">{{item.address}}</span> <span class="pr-1">{{item.zone}}</span> <span class="pr-1">{{item.region}}</span> <span class="pr-1">{{item.city}}</span> <span class="pr-1">{{item.zip}}</span> <span class="pr-1">{{item.state}}</span>{{item.address}}</h4>
                                            </div>
                                            <div class="flex items-center text-xs mt-2 uppercase space-x-2">
                                                <div class="px-1 text-gray-600 bg-sky-100 text-[10px]">Home</div>
                                                <div class="px-1 text-gray-600 bg-gray-100 text-[10px]">Defalut Delivery Address</div>
                                                <div class="px-1 text-gray-600 bg-gray-100 text-[10px]">Defalut billing Address</div>
                                            </div>
        
                                            <div class="flex items-center justify-start mt-5 space-x-3">
                                                <input type="checkbox">
                                                <h4 class="text-gray-700 text-[11px]">
                                                    Deliver to these Address
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                }

                        </div>
                    </div>
    
                </div>
                <!-- Add form Model part start  -->
                 @if(open==false){

                     <div class="model col-span-5 pt-5 px-3  w-full pl-3 model" id="myModel"#myModel>
                         <div class="mb-5">
                             <h2 class="text-xl font-normal text-gray-600 mb-3">New Address here</h2>
                         </div>
             
                     <div class="bg-white p-5">
                         <div class="">
                         <form action="" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                         <div class="grid grid-cols-10 gap-x-5">
                             <!-- left side  -->
                             <div class="col-span-4">
                             <div class="mb-4 w-full">
                                     <!-- full name  -->
                             <label class="block text-gray-700 font-bold mb-2" for="name">Full Name</label>
                             <input class="w-full px-3 py-2 border border-gray-300 rounded-md" required formControlName="name" id="name" type="text" placeholder="Enter Full name" />
                             </div>
             
                             <!-- phone number  -->
                             <div class="mb-4 w-full">
                                 <label class="block text-gray-700 font-bold mb-2" for="phone">Phone Number</label>
                                 <input class="w-full px-3 py-2 border border-gray-300 rounded-md" id="phoneNumber" type="text" placeholder="Your Phone Number" required formControlName="phone" />
                             </div>
             
                              <!-- your land mark  -->
                              <div class="mb-4 w-full">
                                 <label class="block text-gray-700 font-bold mb-2" for="land mark">Landmark(optional)</label>
                                 <input class="w-full px-3 py-2 border border-gray-300 rounded-md" id="state" type="text" placeholder="e.g.b 
                                 beside shajalal bank" required formControlName="landmark"/>
                             </div>
                             </div>
                             <!-- left side end  -->
             
                             <!-- righ side start  -->
                              <div class="col-span-6 w-full">

                                  <!-- region  -->
                                  <div class="mb-4 w-full">
                                     <label class="block text-gray-700 font-bold mb-2" for="city">Province/Region</label>
                                     <input class="w-full px-3 py-2 border border-gray-300 rounded-md" required formControlName="region" id="region" type="text" placeholder="Your Region" />
                                 </div>
             
                                 <!-- city  -->
                                 <div class="mb-4 w-full">
                                     <label class="block text-gray-700 font-bold mb-2" for="city">City</label>
                                     <input class="w-full px-3 py-2 border border-gray-300 rounded-md" required formControlName="city" id="city" type="text" placeholder="Your city" />
                                 </div>
             
                                 <!-- city  -->
                                 <div class="mb-4 w-full">
                                     <label class="block text-gray-700 font-bold mb-2" for="zone">Zone</label>
                                     <input class="w-full px-3 py-2 border border-gray-300 rounded-md" required formControlName="zone" id="zone" type="text" placeholder="Your Zone" />
                                 </div>
             
                                 <!-- Adress here  -->
                                 <div class="mb-4 w-full">
                                     <label class="block text-gray-700 font-bold mb-2" for="address">Address</label>
                                     <input class="w-full px-3 py-2 border border-gray-300 rounded-md" id="address" type="text" placeholder="Your address" required formControlName="address"/>
                                 </div>
             
                                 <!-- Deafault Address  -->
                                <div class="w-full">
                                 <label class="peer w-full py-2  rounded-md" >
                                     <input class="accent-green-500"  type="checkbox" id="isCheck" name="primary" formControlName="primary" />
                                     <span class="pl-2" (click)="defaultAddress()" type="button" >Is Deafault Address here ?</span>
                                   </label>

                                   <!-- <input type="checkbox" id="check12" name="isDefault" class="accent-green-500">
                                   <button class="" >Is Deafault Address</button> -->
                                </div>
                                 <!-- Deafault Address  -->
             
                                 <div class="pt-5 flex items-center w-full justify-between space-x-2">

                                     <!-- Update Form  -->
                                     <div class="mb-4 w-full">
                                         <h4 class="cursor-pointer flex items-center justify-center w-full bg-gray-200 text-gray-600 font-normal py-2 px-4 rounded-md hover:bg-gray-300" (click)="closeForm()" >Cancel</h4>
                                     </div>
                                     
                                     <div class="mb-4 w-full">
                                         <button type="submit" class="w-full bg-orange-500 text-white font-normal py-2 px-4 rounded-md hover:bg-orange-600" >Save</button>
                                     </div>
                                 </div>
                              </div>
                             <!-- righ side end  -->
                         </div>
                         </form>
                         </div>
                         </div>
                       </div>
                 }
                <!-- Add form Model part   end  -->
              </div>
             <!-- rigth side end  -->
        </div>
    </div>
</body>
</html>